@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* General Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #101820;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

/* Header */
header {
  width: 100%;
  background-color: #ffffff;
}

nav {
  width: 100%;
  position: relative;
  z-index: 50;
}

.nav-container {
  max-width: 102rem;
}

nav .nav-container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}

.nav-container_logo {
  width: 200px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.nav-container_logo h2 a {
  transition: 0.2s;
}

.nav-container_logo > h2 > a:hover {
  color: #fcf258;
  cursor: pointer;
}

.nav-links ul {
  display: flex;
}

.nav-links a {
  display: inline-block;
  padding: 0.9rem 1.2rem;
  font-size: 1.07rem;
  font-weight: 500;
  line-height: 2;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #fcf258;
}

.header-content .header-content_grid {
  height: 100%;
  display: grid;
  grid-template-columns: 2.5fr 3.5fr;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 4rem);
  text-align: center;
  padding-left: 3.5rem;
  padding-bottom: 1.5rem;
}

.header-content_grid-column1_title {
  font-size: 3.8rem;
}

.header-content_grid-column1_text {
  font-size: 1.5rem;
  line-height: 1.6;
}

.header-content_grid-column1_text {
  margin: 1.15rem 0;
}

.contact-btn {
  display: inline-block;
  padding: 0.85rem 2rem;
  background-color: #e7e8e9;
  border-radius: 2rem;
  font-size: 1.05rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
}

.contact-btn:hover {
  background-color: #fcf258;
  transform: scale(1.07);
}

#main-image {
  width: 80%;
}

/* About */
.section-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  background-color: #101820;
  padding: 3rem;
  gap: 5rem;
}

.section-grid_content {
  padding: 3rem;
  background-color: #e7e8e9;
  border-radius: 4rem;
  font-size: 1.5rem;
}

#about {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

#self-portrait {
  border-radius: 4rem;
  transform: skew(0deg, 358deg);
  border: 0.5rem groove #ffffff;
  transition: 0.4s;
}

#self-portrait:hover {
  border-right-color: #fcf258;
  border-bottom-color: #fcf258;
  border-top-color: #101820;
  border-left-color: #101820;
  box-shadow: 48px 15px 56px -5px rgba(252, 242, 88, 0.27);
  -webkit-box-shadow: 48px 15px 56px -5px rgba(252, 242, 88, 0.27);
  -moz-box-shadow: 48px 15px 56px -5px rgba(252, 242, 88, 0.27);
}

.section-grid_content-social-container {
  margin-top: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.icon {
  height: 3.5rem;
  width: 4.5rem;
  opacity: 55%;
  transition: 0.3s;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.icon:hover {
  opacity: 100%;
}

/* Projects */
.pro-content {
  padding: 3rem;
  background-color: #ffffff;
}

#proid {
  text-align: center;
  padding: 2.5rem;
  font-size: 2rem;
}

.pro-content_container {
  border-radius: 4rem;
  background-color: #ffffff;
}

.pro-content_container_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.pro-content_container_grid-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 2rem;
  border-top: 0.5rem groove #e7e8e9;
  margin: 0 6rem;
}

.pro-content_container_grid-col > div > h3 {
  text-align: center;
  padding: 1rem;
}

.pro-content_container_grid-col-content {
  background-color: #101820;
  border-radius: 4rem;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 8rem;
}

.pro-content_container_grid-col-img-container {
  border-radius: 4rem;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 2rem;
  opacity: 50%;
  transition: 0.3s;
  max-width: 100%;
  background-size: cover;
  background-position: center;
}

#pro-content_container_grid-col-img-container_img1 {
  background-image: url(../assets/eshop.png);
}

#pro-content_container_grid-col-img-container_img2 {
  background-image: url(../assets/fakeos.png);
}

#pro-content_container_grid-col-img-container_img3 {
  background-image: url(../assets/gbooks.png);
}

.pro-content_container_grid-col-img-container:hover {
  opacity: 100%;
}

/* Skills */
.skills-content {
  padding: 3rem;
  background-color: #101820;
  width: 100%;
}

#skills {
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}

.skills-content_container {
  border-radius: 4rem;
  background-color: #e7e8e9;
}

.skills-content_container_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}

.skills-content_img-col_img {
  opacity: 65%;
  transition: 0.3s;
}

.skills-content_img-col_img:hover {
  opacity: 100%;
  transform: scale(1.07);
}

/* footer */
footer {
  text-align: center;
  align-items: center;
  padding: 1rem 0rem;
}

.footer-img {
  height: 7%;
  width: 7%;
}

/* media queries */
/* extra small devices like the galaxy fold */
@media only screen and (max-width: 280px) {
  .header-content .header-content_grid {
    display: grid;
    grid-template-columns: 1fr !important;
    padding: 1rem;
  }
  .pro-content_container_grid-col {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr !important;
  }
  .pro-content_container_grid-col-content > p {
    padding: 3rem;
  }
  .pro-content_container_grid-col-img-container {
    margin: 21rem 10rem;
    padding: 1rem;
  }
  .pro-content_container_grid {
    margin: 0rem -20rem;
  }
  .section-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.5rem;
  }
  .section-grid_content {
    padding: 2rem;
  }
  .section-grid_img {
    padding: 2rem;
  }
}
/* Skills */
#skills {
  font-size: 1.75rem;
}

.skills-content_container_grid {
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

/* small devices */
@media only screen and (max-width: 415px) {
  /* Header */
  .header-content .header-content_grid {
    display: grid;
    grid-template-columns: 1fr !important;
    padding: 1rem;
  }
  /* About */
  .section-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.5rem;
  }
  .section-grid_content {
    padding: 2rem;
  }
  .section-grid_img {
    padding: 2rem;
  }
  /* Projects */
  .pro-content_container_grid {
    margin: 0rem -20rem;
  }
  .pro-content_container_grid-col {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr !important;
  }
  .pro-content_container_grid-col-content > p {
    padding: 3rem;
  }
  .pro-content_container_grid-col-img-container {
    margin: 14rem 12rem;
  }
}
/* Skills */
#skills {
  font-size: 1.75rem;
}

.skills-content_container_grid {
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}/*# sourceMappingURL=styles.css.map */